Source: hyprpaper
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               ninja,
               cmake-extras,
               cmake,
               wayland-protocols,
               libwayland-dev,
               libegl-dev,
               libgles2,
               libegl1-mesa-dev,
Rules-Requires-Root: no

Package: hyprpaper
Architecture: linux-any
Depends: ${misc:Depends},
Provides: hyprpaper
Description: Wallpaper changer for hyprland
