Source: hyprpaper
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               build-essential,
               ninja-build,
               cmake-extras,
               cmake,
               wayland-protocols,
               libwayland-dev,
               libwlroots-dev,
               libegl-dev,
               libgles2,
               libegl1-mesa-dev,
               libpango1.0-dev,
               libpangocairo-1.0-0,
               libcairo-dev,
               libmagic-dev,
               libjpeg-dev,
Rules-Requires-Root: no

Package: hyprpaper
Architecture: linux-any
Depends: ${misc:Depends},
Provides: hyprpaper
Description: Wallpaper changer for hyprland
